<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KPA_KPI_Analyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <KPA_KPI_Analyzer.Properties.Settings>
            <setting name="RemoveData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeCorrelation" serializeAs="String">
                <value>True</value>
            </setting>
        </KPA_KPI_Analyzer.Properties.Settings>
    </applicationSettings>
</configuration>