<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net452" />
  <package id="EPPlus" version="4.1.1" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net452" />
</packages>